footer
  .footer
    .footer__container
      .footer__content
        .footer__title
          p.footer__titleText 法律を味方に、企業を伸ばす
        .footer__icon
          img.footer__iconImage(src='../image/icon.png', alt='picture')
        .footer__company
          p.footer__companyName ©2020 ATTIVITA Inc.
        .footer__content2
          .clearfix
            .footer__arrow01
            .footer__link
              a.footer__linkText 利用規約
            .footer__arrow02
            .footer__link
              a.footer__linkText 運営会社
