header
  .header
    .clearfix
      .header__figure
        img.header__logo(src='../image/logo-top.png' alt='picture')
      .header__subtitle
        p.header__text byLegalは無料で120名を越える弁護士に、匿名で質問ができるサービスです。
      .header__button
        a.header__link 今すぐ無料で始める！
      .header__button--sp
        a.header__link--sp 新規無料登録
